/* GOV.UK OVERRIDES */
label.form-label {
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.25;
}

main {
    padding-bottom: 3em;
}
a.button {
    text-align: center;
}

button, a.button {
    margin-bottom: 0.75em;
}

.service-info {
    margin-bottom: 0.75em;
}

.column-full {
    padding: 0 15px;
}

table {
    max-width: 640px;
}

.form-group {
    max-width: 640px;
}

.button-start {
    background-image: url("/assets/images/icon-pointer-2x.png");
}

.govuk-box-highlight h1, 
.govuk-box-highlight p {
    margin-left:auto;
    margin-right:auto;
}
.inline .block-label {
    margin-right: 0;
}

@media (min-width: 641px) {
    .inline .block-label {
        margin-right: 10px;
    }
}

/* RESPONSIVE TABLES */
.responsive-table {
    display:table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;  
    max-width: 640px;

    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1428571429;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    color: #0b0c0c;
}

.responsive-thead, .responsive-th {
    display:none;
}

.responsive-tbody {
    display:table;
    width:100%;
}

.responsive-tr {
    display:table-row-group;
}

/*.responsive-table, .responsive-tr, .responsive-tbody, */
.responsive-td {
    display: table-row;
}

.responsive-inner-caption, .responsive-td div {
    display: table-cell;
    border-bottom: 1px solid #bfc1c3;
    padding: 0.75em 1.25em 0.5625em 0;
    
}

.responsive-td:first-child .responsive-inner-caption, .responsive-td:first-child div {
    font-weight:700;
    padding-top:2em;
}

.responsive-td:first-child .responsive-inner-caption {
    visibility: hidden;
}

.responsive-table .responsive-td.numeric, .responsive-table .responsive-th.numeric {
    font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	text-align: left;
}

.responsive-table .responsive-th {
  font-weight: 700;
}

@media (min-width: 641px) {
  .responsive-table .responsive-th,
  .responsive-table .responsive-td {
    font-size: 16px;
    line-height: 1.25;
  }
  
    .responsive-thead {
        display:table-header-group;
    }

    .responsive-tr {
        display: table-row;
    }

    .responsive-th {
        display: table-cell;
    }

    .responsive-td {
        display: table-cell;
    }

    .responsive-tbody {
        display: table-row-group;
    }
	
	.responsive-inner-caption, .responsive-td div {
		border: none;
		padding: 0;		
	}

    .responsive-table .responsive-inner-caption {
        display: none;
    }
	
	.responsive-td div {
		display:block;
	}
	
	.responsive-td:first-child .responsive-inner-caption, .responsive-td:first-child div {
		font-weight:normal;
		padding-top:0;
	}

    .responsive-table .responsive-th,
    .responsive-table .responsive-td {
      padding: 0.75em 1.25em 0.5625em 0;
      border-bottom: 1px solid #bfc1c3;
    }
	
	.responsive-table .responsive-th.numeric, 
	.responsive-table .responsive-td.numeric {
	  text-align: right;
	}
	
}

/* LAYOUT CONVENIENCES*/
h1, h2, p {
    max-width: 630px;
}
.rightalign {
    text-align:right;
}

table.th-nopadding th {
    padding-top:0;
}

p.access-denied {
    margin-bottom: 60px;
}

h1.access-denied {
    margin-bottom: 5px; 
}

.govuk-box-highlight p , .govuk-box-highlight  h1 {
    max-width: 100%;
}

hr.wide {
    height:3px;
}

.nextto-h1 {
    margin-top: 60px;
}

table.full-width, .responsive-table.full-width {
    max-width:100%;
}