@using SFA.DAS.ProviderApprenticeshipsService.Web.Models

@model HomeIndexModel

@{
    ViewBag.Title = "Home Page";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">
            Provider commitments
        </h1>
        <p class="">Use this service to manage your apprenticeships.</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-one-third">
        <a class="button button-start" href="@Url.Action("Index","Commitment", new { providerId = Model.ProviderId })">View commitments</a>
    </div>
</div>
    