<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncEnumerator" version="4.0.2" targetFramework="net462" />
  <package id="MediatR" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="2.6.4" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.NLogTarget" version="2.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net462" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.0.1" targetFramework="net462" />
  <package id="Microsoft.Azure.WebJobs" version="1.1.2" targetFramework="net462" />
  <package id="Microsoft.Azure.WebJobs.Core" version="1.1.2" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.1" targetFramework="net462" />
  <package id="Microsoft.NETCore.Targets" version="1.1.3" targetFramework="net462" />
  <package id="Microsoft.Web.WebJobs.Publish" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="NLog" version="4.3.8" targetFramework="net452" />
  <package id="Polly" version="5.7.0" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Client" version="1.6.3100" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Types" version="1.6.3100" targetFramework="net462" />
  <package id="SFA.DAS.Common.Domain" version="1.4.283" targetFramework="net462" />
  <package id="SFA.DAS.Configuration" version="1.0.0.43116" targetFramework="net452" />
  <package id="SFA.DAS.Configuration.AzureTableStorage" version="1.1.161" targetFramework="net462" />
  <package id="SFA.DAS.Http" version="1.2.4" targetFramework="net462" />
  <package id="SFA.DAS.Learners" version="1.0.0.39408" targetFramework="net452" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.43242" targetFramework="net452" />
  <package id="SFA.DAS.NLog.Targets.Redis" version="1.0.0.34273" targetFramework="net452" />
  <package id="SFA.DAS.Notifications.Api.Client" version="2.0.0.35919" targetFramework="net452" />
  <package id="SFA.DAS.Notifications.Api.Types" version="2.0.0.35919" targetFramework="net452" />
  <package id="SFA.DAS.PAS.Account.Api.Client" version="1.1.1043" targetFramework="net462" />
  <package id="SFA.DAS.PAS.Account.Api.Types" version="1.1.1043" targetFramework="net462" />
  <package id="SFA.DAS.Sql.Client" version="1.0.0.32930" targetFramework="net452" />
  <package id="SlowCheetah" version="2.5.48" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net462" />
  <package id="StructureMap" version="4.4.5" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="8.7.0" targetFramework="net462" />
</packages>