<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net462" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net462" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.0.5" targetFramework="net462" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net462" />
  <package id="Moq" version="4.16.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NUnit" version="3.11.0" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net462" />
  <package id="SFA.DAS.Authentication.Extensions.Legacy" version="1.0.22" targetFramework="net462" />
  <package id="SFA.DAS.Common.Domain" version="1.4.272" targetFramework="net462" />
  <package id="SFA.DAS.Http" version="3.2.28" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.5.1" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
</packages>