<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="internal-nlog.txt"
      throwExceptions="false">

  <variable name="appName" value="das-commitments-v2-api" />
  <variable name="simplelayout" value="${longdate} [${uppercase:${level}}] [${logger}] - ${message} ${onexception:${exception:format=tostring}}" />
  <targets>
    <target name="Console" layout="${simplelayout}" xsi:type="Console" />
    <target name="File" fileName="${basedir}/logsDEv/${appName}.${shortdate}.log" layout="${simplelayout}" xsi:type="File" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="File" />
  </rules>
</nlog>