openapi: 3.0.0
info:
  version: "1.0"
  title: Start an approval endpoint
  description: Approval endpoint to allow consumers to start an approval by sending changes on approved learning. Approvals will calculate whether approval is required and start the process
paths:
  /info:
    get:
      description: information regarding this API. The version will be returned
      responses:
        "200":
          $ref: "#/components/responses/infoResponse"
  
  /health:
    get:
      description: The system is fully ready to accept requests and all the dependencies are healthy
      responses:
        "200":
          $ref: "#/components/responses/healthCheckResponse"
        "503":
          $ref: "#/components/responses/healthCheckResponse"

  /approvals/{learningKey}:
    put:
      summary: changes from the consumer have been superseded and this endpoint initiates a supersede of the original approval request
      parameters:
      - in: path
        name: learningKey
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        $ref: "#/components/requestBodies/approvalRequest"
      responses:
        "201":
          $ref: "#/components/responses/approvalResponse"
        "404":
          $ref: "#/components/schemas/error"
        "400":
          $ref: "#/components/schemas/error"
    post:
      summary: Start an approval on a recoerd that current has no changes for approval
      parameters:
      - in: path
        name: learningKey
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        $ref: "#/components/requestBodies/approvalRequest"
      responses:
        "201":
          $ref: "#/components/responses/approvalResponse"          
        "404":
          $ref: "#/components/schemas/error"
        "400":
          $ref: "#/components/schemas/error"
    delete:
      summary: Request to delete approvals on this record
      parameters:
      - in: path
        name: learningKey
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: An approval was deleted
        "400":
          description: An approval was not found in pending state for this learningkey
components:  
  requestBodies:
    approvalRequest:
      description: Details changes to training records to be evaluated
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/approvalRequest"
  responses:
    approvalResponse:
      description: A response to an approval request 
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/approvalsResult"
    
    okResponse:
      description: OK
      content:
        text/plain:
          schema:
            type: string
            example: OK

    badRequest:
      description: A bad request was sent and validation of the payload failed
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/error"

    unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error"

    healthCheckResponse:
      description: Results of a health check
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/healthcheckResults"

    infoResponse:
      description: Information response
      content:
        text/plain:
          schema:
            type: string
            example: Leaner data APIM for the training service - Version 3.0.2
            
  schemas:
    error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    
    change:
      type: object
      required:
        - old
        - new
      properties:
        old:
          type: string
        new:
          type: string

    approvalsResult:
      type: array
      items:
        type: object
        properties: 
          changeType:
            type: string
            enum: [TNP1, TNP2] # this will expand greatly
          approvalStatus:
            type: string
            enum: 
              - autoApproved
              - autoRejected
              - employerApproved
              - employerRejected 

    
    approvalRequest:
      type: object
      properties:
        ukprn:
          type: string
        agreementId:
          type: integer
        learningKey:
          type: string
          format: uuid
        learningType:
          type: string
          enum:
            - apprenticeship
            - foundation
            - shortCourse
        approvedUri:
          type: string
          format: uri
          description: This is the uri to fetch the current record that has been approved
        changes:
          $ref: "#/components/schemas/learningChangeArray"
          
    learningChangeArray:
      type: array
      description: >
        A list of key/value pairs, where the key is a change enum and the value is a data object.
      items:
        $ref: "#/components/schemas/learningChange"

    learningChange:
      type: object
      required: [changeType, data]
      properties:
        changeType:
          type: string
          enum: [TNP1, TNP2] # this will expand greatly
        data:
          $ref: "#/components/schemas/change"
          
    healthcheckResults:
      type: array
      items:
        $ref: "#/components/schemas/healthcheck" 
  
    healthcheck:
      type: object
      properties:
        description: 
          type: string
        result: 
          type: string