@using SFA.DAS.ProviderCommitments.Web.Models

@model dynamic

@{ var model = Model as ViewModelBase; }

@if (model?.FlashMessage != null)
{
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="green-box-alert">
                @if (model.FlashMessage.Severity == FlashMessageSeverityLevel.Okay)
                {
                    <i class="icon-green-tick"></i>
                }
                @Html.Raw(model.FlashMessage.Message)
            </div>
         </div>
    </div>
}
