@using SFA.DAS.ProviderApprenticeshipsService.Web.Extensions
@using SFA.DAS.ProviderApprenticeshipsService.Web.Validation.Text
@model ModelStateDictionary

<div class='@(Html.ViewData.ModelState.IsValid ? "validation-summary-valid" : "validation-summary-errors") error-summary' role="group" data-valmsg-summary="true">
   
    <h1 id="error-summary" class="heading-medium error-summary-heading">
        There are errors on this page that need your attention
    </h1>		   
    
    <ul class="error-summary-list">
        @foreach (var stateItem in ViewContext.ViewData.ModelState)
        {
            var elementId = ViewData.TemplateInfo.GetFullHtmlFieldId(stateItem.Key) ?? stateItem.Key;

            foreach (var error in stateItem.Value.Errors)
            {
                <li>
                    <a href="#error-message-@elementId" data-focuses="error-message-@elementId">
                        @ValidationMessage.ExtractBannerMessage(error.ErrorMessage.RemoveHtmlTags())
                    </a>
                </li>
            }
        }

    </ul>
</div>

