// custom to overwrite the GDS defaults

.logged-out {
    #service-info-list{
        max-width:960px; 
        margin:0 auto;
        border-top:1px solid $border-colour; 
        border-bottom:1px solid $border-colour;
        padding:10px 0;}
    }
.hr-double {
  border-bottom: 4px solid $grey-2;
  margin-bottom: 20px;
}
.hr-top {
  margin-bottom: 20px;
}
.hr-bottom {
  margin-top: 23px;
}
.float-right{
  float:right;
}
.float-left{
  float:left;
}
// add apprentice entry
#add-apprentice-entry,
#edit-apprentice {
  hr {
      margin-top: 0;
      margin-bottom: 22px;
  }
}
.button.text-link {
  background-color: transparent;
  border: medium none;
  box-shadow: none;
  color: #005ea5;
  text-decoration: underline;
}
.alert-default {
  background-color: #eaf4f9;
  border-color: #2b8cc4;
}

.field-validation-error{
  display:block;
}

#finish-editing{
  .heading-xlarge{
       margin-top: 0.625em;
  }
  .alert-default{
      border-color:$purple;
      .heading-medium{
          font-size:24px;
      }
  }

}

.add-edit-desc{
  .list-bullet{
      font-size:16px;
  }
}


//bulk upload styles

#apprentice-details,#approve-cohorts{
  .alert-default{margin-top:25px;}
  .bulk-upload-buttons{      
      .upload-btn{
            @include media(tablet) {margin:auto;}
          margin-top:20px;
          margin-bottom:20px;
      }
      .add-app-btn{margin-right:10px;}
  }
.group-title{
    margin-bottom:0;
}
.finishEditingBtn{
    float:none;
    margin-right:10px;
}
}

#content{
  .green-box-alert{
      border: 5px solid $turquoise;
      margin:30px 0;
      padding: 20px 15px 15px;
      .strong{
          font-weight:bold;
          margin-bottom:10px;
      }
      
  }
   .flash-alert{
      border-color:$turquoise;
       .icon-green-tick{
          background:url(../../dist/images/icon-green-tick.png) no-repeat 0 0;
          padding-left:50px;
      }
  }
    .remove-space{
        margin-top:0;
    }
}



#finish-editing {
  .error-summary{
       margin-bottom: 60px;
       margin-top:0;
  }
}

.cant-approve{ 
  
  .panel{
    border-color:$error-colour;
    color:$error-colour;
      
      p{
          font-weight:bold;
          font-size:19px;
      }

      }
}

#upload-apprenticeships,
#upload-error{
    .upload-file-btn{
      display:block;
      margin-top:35px;      
  }
}

.form-group {
  #StartDate_Month,
  #EndDate_Month{
      width:40px;
  }
  
  #StartDate_Year,
  #EndDate_Year{
      width:60px;
  }
  
}


.breadcrumbs{
  a{
      font-size:16px;
  }
}

// bulk upload error screen

.error-grid{
  .alert-default{
      background-color:#ecc3c7;
      border-color:$red;
  }
}

.warning-grid{
  .alert-default{
      background-color:#fcddcd;
      border-color:#f47738;
  }
}

.tableResponsive{
  td{
      font-size:16px;
  }
}

//cohors summary block styles
.js-enabled{
  .clickable{cursor:pointer;}
}

.bingo-boxes {
    @include media(tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}

.bingo-box {
    box-sizing: border-box;
    border-bottom: 1px solid $border-colour;
    background: $purple;
    color: #fff;
    padding: 15px;
    margin-bottom: 15px;

    @include media(tablet) {
        margin: 15px;
        width: calc(50% - 31px);
    }

    h2 {
        margin: 0;
    }

    p.heading-small {
        margin: 0;

        @include media(tablet) {
            font-size: 24px;
        }
    }

    &.clickable {
        padding: 0;

        a {
            padding: 15px;
            display: block;
            color: #fff;
            text-decoration: none;
            background: $purple;
            box-sizing: border-box;
            height: 100%;

            &:hover {
                background: darken($purple, 10%);
            }
        }
    }
}

#cohorts-landing-page{
.bingo-background{
          background:$purple;
          color:#fff; 
          margin-bottom: 20px;
          padding: 10px 15px;
          
            @include media(tablet) {
                  min-height:160px;
                  width:48%;
                  padding: 0 15px;
            }
            h2{margin-top:20px;
               a{
                   text-decoration:none;
                   color:#fff;
               }
            }
            .heading-small{margin-bottom:20px;font-size:24px;}
      }

.block-one, .block-two{
     @include media(tablet) {
          margin-bottom:30px;
          }
}

.block-one,.block-three{
     @include media(tablet) {
    margin-right:2%;
    }
}
.block-two, .block-four{
   @include media(tablet) {
    margin-left:2%;
    }
}
}


//review cohorts page styles

#review-cohorts{
  color:#fff;
  .all-apps{
      background:#2e3391;
      padding:20px;
      margin:20px 0;
       @include media(tablet) {
          margin:auto;
          }
  }
  .incomplete-apps{
      background:#8e2a8d;
      padding:20px;
      margin-bottom:20px;
      @include media(tablet) {
          margin:auto;
          }
  }
  .total-cost{
      background:#d03a84;
      padding:20px;
      margin-bottom:30px;
      @include media(tablet) {
          margin:auto;
          }
  }
 .heading-small{
           font-size:24px;
       }

}

.dynamic-heading, #bulk-upload-errors{
  strong{
      font-weight:bold;
  }
}


//dynamic-class-mobile-views
.dynamic-cost-display{
  .bold-xlarge{     
        line-height: 82px;
        @include media(tablet) { font-size:80px;}
        
  }
   @include media(tablet) { 
   
    .long {
          font-size: 26px;
           line-height: 82px;
      }
      .longer {
          font-size: 19px;
          line-height: 82px;
      }
  }

@include media(tablet) { 
     
     .short{
           font-size:67px;
     }
    .long {
          font-size: 48px;
          line-height: 82px;
      }
      .longer {
          font-size: 38px;
          line-height: 82px;
      }
  }

}


//list of apprentices page

#apprentices-detail{
  .list-apprentice{        
      .heading-medium{border-top:10px solid $govuk-blue; padding-top:20px;}
      .blue-alerts{
          .heading-medium{
              border:0;
              margin-top: 0;
              padding-top: 0;
          }
      }
}
}

#agreement-not-signed{
  .notice{
      margin:60px 0;
      .icon-important{background-image: url('/dist/images/icon-important.png');}
  }
}

#edit-apprentice, #apprentice-details{
  .delete-button{
      background-color:$error-colour;
      float:right;
      margin:15px 0;
      @include media(tablet){
          margin:auto;
      }
  }
  }

#confirm-delete{
  .heading-large{margin-bottom:0;}
  .heading-small{margin-top:0;}
  .secondary-text{
      color:$grey-1;
  }

}

//review cohorts page styles

#review-cohorts{
  color:#fff;
  margin:30px 0;
  .all-apps{
      background:#2e3391;
      padding:20px;
      margin:20px 0;
     
      
       @include media(tablet) {
          margin:auto;
          width:31%;
          
          }
  }
  .incomplete-apps{
      background:#8e2a8d;
      padding:20px;
      margin-bottom:20px;
      
      @include media(tablet) {
          margin:auto;            
          margin-left:3.3333%;
          width:31%;
          }
  }
  .total-cost{
      background:#d03a84;
      padding:20px;
      margin-bottom:30px;
     
      @include media(tablet) {
          margin:auto;
          margin-left:3.3333%;
           width:31%;
          }
  }

}

.error-details {
  p{
      margin-bottom:0;
  }
}

.grey-background,
.funding-cap-notification{
  padding-left:10px;
  border-left:10px solid $govuk-blue;
  .heading-medium{margin-top:10px;}  
}
.bubble-arrow{    
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid $panel-colour;
  content: "";
  float: right;
  margin-right: 75px;
  }
.overlap-arrow{    
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid $panel-colour;
  content: "";
  float: right;
  margin-right:150px;
  @include media(tablet) {margin-right: 290px;} 
  }
.funding-cap-alert{
  border-bottom:5px solid $govuk-blue;
        a{
              text-decoration:none;
              color:$text-colour;
          }    
}

#company-info{
  strong{font-weight:bold;}
}

#expand-collapse{
  margin-bottom:20px;
  .panel{
      p{
          font-size:inherit;
      }
  }
  ul{
      list-style-type: disc;
      margin-left: 20px;
  }
}

#confirm-employer{
  #continue{
      margin:30px 0;
  }
}

// safari on mac icon bug on input fields fix
body {
  input::-webkit-contacts-auto-fill-button {
visibility: hidden;
display: none !important;
pointer-events: none;
position: absolute;
right: 0;
}
}

#apprentice-details{
  .overlap-notification{
      border-left:10px solid $red;
      padding-left:10px;
  }
  .training-level{
      margin-bottom:0;
  }
  .validation-summary-errors{
      h1{margin-top:0;}
  }

}

.overlap-alert{
    border-bottom: 5px solid $red;
  a{
      text-decoration:none;
      color:$text-colour;
  }
}
.validation-summary-max-funding{
  border-color: $govuk-blue;
  #warning-summary{
      margin-top:0;
  }
}


//character count error
.form-group {
  .limit-reached{
      color:$error-colour;
      font-weight:bold;}
  }
    

#confirm-employer{
  .alert-default{margin-top:20px;}
  #confirm-organisation{margin-top:20px;}
}


table{
.changed-item{
  font-weight:bold;
  }
}


#confirm-edited-changes{
  fieldset{
      margin-bottom:40px;
  }
}

#app-status,
#overview-section,
#apprentice-section{
  th{
      a{
        font-weight:normal;
          }
      }
  td{
      width:50%;
  }
}

.link-left-aligned,
.button-left-align{
 display:block;
 float:left;
}

.link-left-aligned{
  margin:7px 0 0 20px;
}
#charCount{
  margin-bottom:0;
}

#review-cohorts{ 
  .column-one-third{
       @include media(tablet) {height:190px;}
  }
  .all-apps{
      h2.bold-xlarge{
           @include media(tablet) {font-size:80px;}
      }
  }
  .incomplete-apps{
      h2.bold-xlarge{
           @include media(tablet) {font-size:80px;}
      }
   }
}

.purple-border{
  border:5px solid $purple;
  margin-bottom: 20px;
  padding: 20px;
}


//start -- Apprentice Filter Styles
.filter-option-select 
{ 
  margin-bottom: 30px;
  background-color:$panel-colour;
  padding: 5px;
      .container-head {
          padding-left: 5px;
          background: url(/dist/css/images/option-select-toggle-sprite.png) no-repeat right 5px;
          cursor: pointer;
          display: block;
          position: relative;
          }
      .option-select-label{
          margin-right: 40px;
          font-weight: bold;
          padding: 5px;
          text-transform:none;
          display: block;
          margin-top: 0;
          }
      .options-container {
          position: relative;
          background-color: #fff;          
          height:200px; //container height
          overflow:auto;
              .item{ border-bottom: 1px solid #bfc1c3; } //// wrap labels per item for borders
              label{
                  font-size: 16px;
                  line-height: 1.25; 
                  padding-right: 10px;
                  display:block;  
                  font-weight: 400;
                  text-transform: none;  
                  padding: 7px 0 7px 2px;                    
                  cursor: pointer;
                  margin-left:20px; // wrap labels
               
                  }
              input{
                  margin-left:-16px; // wrap labels
              }
          }
        .showHide {
           background: url(/dist/css/images/option-select-toggle-sprite.png) no-repeat;
           background-position: right -77px;
           cursor: pointer;
           display: block;
           position: relative; 

          }
          .hideOptions {
              display: none; 
          }
}

#manage-apprentices{
  th{
      font-size:16px;
  }
  .reset-link{
      padding-left:0;
      margin-top:10px;
  }
}


// pagination
.previous-next-navigation {
padding-left: 0;
position: relative;
overflow: hidden;
margin: 60px 0 0;
width: 100%; 
  li 
  {
    font-family: "nta", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-size-adjust: 0.5;
    display: block;
    padding: 0;
    margin: 0;
    width: 50%;
    float: left; 
    a 
    {
    display: block;
    text-decoration: none; 
    font-size: 24px;
    line-height: 0.9em;
        span {
        display: block;
        font-family: "nta", Arial, sans-serif;
        font-size: 12px;
        line-height: 1.25;
        font-weight: 400;
        text-transform: none;
        font-size-adjust: 0.5; 
        }
        &:hover {
             background:$highlight-colour;
            .page-numbers {text-decoration: underline;}
        }
        &:focus{
             .page-numbers {text-decoration: underline;}
        }
    }
    
 }
  li.next 
  {
    float: right;
    text-align: right; 
        a {padding: 15px 35px 15px 0;}
        a:before {
        background: transparent url("/dist/css/images/pagination-arrow-sprite.png") no-repeat -102px -11px;
        margin: -4px -32px 0 0;
        display: block;
        float: right;
        width: 30px;
        height: 38px;
        content: " "; }
    }
  li.previous
      { 
      a{padding: 15px 0 15px 35px; }
      a:before 
      {
        background: transparent url("/dist/css/images/pagination-arrow-sprite.png") no-repeat -20px -11px;
        margin: -4px 0 0 -32px;
        display: block;
        float: left;
        width: 30px;
        height: 38px;
        content: " "; 
      }
      }
}
//end -- Apprentice Filter Styles


//Datalock styles
#datalock-details-change,#course-mismatch{
  table.app-data{
      margin-bottom:40px;
     caption{
         text-align:left;
         margin:5px 0 20px 0;
     }
     th.first-child{ font-weight:normal}
     td.first-child{
          border-top:1px solid $grey-2;
      }
     .numeric{
         font-size:19px;
     }
  }
  table.edited-changes{
      margin-top:40px;
      th{
          border:0;
      }
  }
}


#confirm-datalock-changes{
  .bold-font{
      font-weight:bold;
  }
  .mismatch-desc{
      margin-bottom:60px;
    }
}

#datalock-details-change {
    .mismatch-desc{
        margin-bottom:60px;
    }
}
//End Datalock styles


//edit-started-apprentice
#edit-started-apprentice{
  .form-group{margin-bottom:0;}
  .first-child{margin-bottom:30px;}
  .approve-alert{   
      margin-top:30px;
          .alert-blue{border-color:$link-hover-colour;}
  }
  .last-child{
      margin-bottom:30px;
  }
  strong{
      font-weight:bold;
  }
}

#page-help{
  strong{
      font-weight:bold;
  }
}

#account-home{
  .panel{
      background:$grey-3;
      border-color:$purple;
      margin-top:40px;
  }
  .list li{
      font-size:16px;
  }
.academic-banner{
  .alert-default{
      background-color: $light-blue-25;
      border-color: $light-blue;
      strong{font-weight:bold;}
    }
  }
}

#manage-apprentices{
   .panel{
      background:$grey-3;
      border-color:$purple;
  }
}

/*Email notification settings*/
#notification-settings{
  .alert-default {
      background: $panel-colour;
      margin-bottom:40px;
      p{font-weight:bold;}
  }

  h1{
      margin-bottom:0;
  }
  table{
      margin-bottom:40px;
  }
  .notification-row{
      padding:20px 0 30px 0;
  }
}

// search apprentice

#manage-apprentices{
   hr.black{
       background:$text-colour;
       height: 2px;
       margin: 10px 0 20px 0;
   }
   .filter-app-head{
       margin-top:0;
   }
}

#total-count {
    margin-bottom: em(20, 16);

    p {
        margin-bottom: em(5, 16);
    }

    strong {
        font-weight: 600;
    }
}

#search-form{
		margin:7px 0 15px 0;
        legend{margin-bottom:0;}
        .heading-medium{margin-top:0;}
        .search-text{
           @include media(tablet) {width:262px;height:39px;}
        height:38px;
        width:85%;
		margin: 0;
		padding: 6px 15px;
        border:1px solid $secondary-text-colour;
	    }
	    .submit-search {
		 @include media(tablet) {margin: 0 0 0 -4px;height:39px;}
        margin-left:-4px;
		padding: 0;
		width: 38px;
        height: 38px;	
		cursor: pointer;
		border:1px solid $secondary-text-colour; 
		background:url(/dist/images/search-glass.png) no-repeat 5px 5px;
        color:transparent;
	}
        .placeholder-text{
            color:$border-colour;
        }
}

  .service-info{
      margin-bottom:0;
      max-width: 960px;
      margin:0 auto;
 }


  
/* Floating menu styles*/
.phase-banner-beta{border-bottom:0;}

#global-header-bar{max-width:100%;}
.header-organisation ul{
    clear:both;
}

.header-organisation ul li a.selected:after{
        background:none;
       @include media(tablet) { background:#005ea5;}
}

#floating-menu-prov{
    width: 100%;
    background: #F47738;
    float: left;
    padding:10px 0;
    .user-menu.logged-in{
        border:0;
    }
    .fixed-header {
      position: fixed;
      top:0; left:0;
      max-width: 100%; 
      padding:10px 0;
       #service-info-list{display:none;}
        p{float:none;}
    }
    .width-adjust{
        max-width: 960px;
        margin: 0 auto;
    }
}

#floating-menu.fixed-header p {
    padding: 0 15px;
    max-width: 960px;
    margin: 0 auto;
}

.user-menu {
    li {
        margin-bottom: 0;
    }
}

#global-header-bar {
    margin: 0;
}

#floating-menu {
    clear: both;
    width: 100%;
    background: #F47738;
    color: #fff;
    z-index: 1;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

    @include media(tablet) {
        padding: 0 30px;
    }

    @include media(1020px) {
        padding: 0;
        max-width: 960px;
    }

    a {
        color: #fff;
    }

    p {
        font-weight: bold;
        font-size: 19px;
        max-width: 960px;
        margin: 0;

        @include media(tablet) {
            float: left;
            margin-bottom: 0;
        }

        @include media(1020px) {
            margin-left: 0;
        }
    }

    #service-info-list {
        margin-top: 5px;

        li {
            display: block;
            margin: 0 10px 5px 0;
        }

        @include media(tablet) {
            float: right;

            li {
                margin: 0 0 5px 15px;
            }
        }

        @include media(desktop) {
            margin-left: 0;
            margin-right: 0;

            li {
                float: left;
            }
        }
    }
}




//End floating menu styles
#no-search-results {
    text-align: center;
}

    .error-summary {
        .error-summary-heading {
            margin-bottom: 0;
        }
    }

    #finish-editing {
        .alert-blue {
            border: 5px solid $govuk-blue;
            padding: 20px 15px 15px;
            margin-top: 30px;

            p.heading-medium {
                margin-top: 0;
            }

            ul.list-bullet {
                margin-bottom: 0;
            }
        }
    }

    #cont-cancel {
        .continue {
            float: left;
        }

        .cancel {
            float: left;
            margin: 10px 0 0 30px;
        }
    }
    //all mobile media query breakpoints
    @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {

        #apprentice-details {
            .tableResponsive {
                margin-top: 30px;

                .funding-cap-alert {
                    border-left: 10px solid $govuk-blue;
                    background: #fff;

                    a {
                        text-decoration: none;
                        color: $text-colour;
                        cursor: pointer;
                    }
                }

                .overlap-alert {
                    border-left: 10px solid $error-colour;
                    background: #fff;

                    a {
                        text-decoration: none;
                        color: $text-colour;
                        cursor: pointer;
                    }
                }
            }
        }


        .bubble-arrow, .overlap-arrow {
            display: none;
        }




        .employerListing {
            td:nth-of-type(1):before {
                content: "Employer";
                font-weight: normal;
                margin-top: 5px;
                min-height: 30px;
            }

            td:nth-of-type(2):before {
                content: "Cohort reference";
                font-weight: normal;
                margin-top: 5px;
            }

            td:nth-of-type(3):before {
                content: "Last message";
                font-weight: normal;
                margin-top: 5px;
            }
        }

        .provider-list-view {
            td:nth-of-type(1):before {
                content: "Name";
                font-weight: normal;
                margin-top: 5px;
                min-height: 30px;
            }

            td:nth-of-type(2):before {
                content: "Date of birth";
                font-weight: normal;
                margin-top: 5px;
            }

            td:nth-of-type(3):before {
                content: "ULN";
                font-weight: normal;
                margin-top: 5px;
                word-wrap: break-word;
            }

            td:nth-of-type(4):before {
                content: "Status";
                font-weight: normal;
                margin-top: 5px;
            }

            td:nth-of-type(5):before {
                content: "Alerts";
                font-weight: normal;
                margin-top: 5px;
            }
        }



        #bulk-upload-errors {

            td:nth-of-type(1):before {
                content: "Row";
                font-weight: normal;
                margin-top: 5px;
                min-height: 30px;
            }

            td:nth-of-type(2):before {
                content: "ULN";
                font-weight: normal;
                margin-top: 5px;
            }

            td:nth-of-type(3):before {
                content: "Name";
                font-weight: normal;
                margin-top: 5px;
                word-wrap: break-word;
            }

            td:nth-of-type(4):before {
                content: "Date of Birth";
                font-weight: normal;
                margin-top: 5px;
            }

            td:nth-of-type(5):before {
                content: "Error(s)";
                font-weight: normal;
                margin-top: 5px;
            }
        }
    }










    $info-colour: $purple;
    $success-colour: $turquoise;
    $warning-colour: $orange;

    // Container for notifications, to reduce space between them wehen there are multiple
    .notifications {
        .error-summary, .warning-summary, .success-summary, .info-summary {
            margin-bottom: 0px !important;

            &:last-child {
                margin-bottom: 100px;
            }
        }
    }
    // Share notification styles
    .error-summary, .info-summary, .success-summary, .warning-summary {
        border-width: 4px;
        border-style: solid;
        margin-top: $gutter-half;
        margin-bottom: $gutter-half;
        padding: $gutter-half 10px;

        @include media(tablet) {
            border-width: 5px;
            border-style: solid;
            margin-top: $gutter;
            margin-bottom: $gutter;
            padding: $gutter-two-thirds $gutter-half $gutter-half;
        }

        @include ie-lte(6) {
            zoom: 1;
        }
        // Use the GOV.UK outline focus style
        &:focus {
            outline: 3px solid $focus-colour;
        }

        p {
            margin-bottom: 10px;
        }

        &-heading {
            margin-top: 0;
        }

        @for $index from 1 through 6 {
            h#{$index} {
            }

            h#{$index}[class^="heading-"] {
                margin: 0;
            }
        }

        &-list {
            padding-left: 0;

            li {
                @include media(tablet) {
                    margin-bottom: 5px;
                }
            }

            a {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }

    .info-dismiss, .success-dismiss, .warning-dismiss {
        font-weight: bold;
        text-decoration: underline;
    }
    // Info notification styles
    .info-summary {
        border-color: $info-colour;

        @include media(tablet) {
            border-color: $info-colour;
        }

        .info-summary-list {
            a {
                color: $info-colour;
            }
        }

        .info-dismiss {
            color: $info-colour;
        }
    }
    // Success notification styles
    .success-summary {
        border-color: $success-colour;

        @include media(tablet) {
            border-color: $success-colour;
        }

        .success-summary-list {
            a {
                color: $success-colour;
            }
        }

        .success-dismiss {
            color: $success-colour;
        }
    }
    // Warning notification styles
    .warning-summary {
        border-color: $warning-colour;

        @include media(tablet) {
            border-color: $warning-colour;
        }

        .warning-summary-list {
            a {
                color: $warning-colour;
            }
        }

        .warning-dismiss {
            color: $warning-colour;
        }
    }



.boxes {
    @include media(tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}

.box {
    box-sizing: border-box;
    border-bottom: 1px solid $border-colour;
    @include media(tablet) {
        margin: 0 15px;
        width: calc(50% - 30px);
    }
}


dl.inline-secondary {
    color: $grey-1;
    margin-bottom: 30px;

    dt {
        margin-top: 5px;
    }

    @include media(tablet) {
        margin-top: -15px;

        dt:after {
            content: ":"
        }

        dt, dd {
            display: inline-block
        }

        dd {
            margin-right: 10px
        }
    }
}