legend {
    margin-bottom: 10px;
}

.radios-inline {  
    @include media(tablet) {
        margin-left: 20px;
        h3 {
            margin-top: 0;
        }
        .block-label {
            display: inline-block;
            clear: none;
            margin-right: 5px;
            margin-bottom: 5px;
        }   
    }
    .error {
        clear: both;
    }
 }

.button-start {
    background-image: url('/dist/images/icon-pointer.png');
}

.error-summary-wrapper {
    .error-summary {
        margin-top: 0;
        margin-bottom: 0
    }
}

.error-summary-standalone {
    .error-summary {
        margin-bottom: 0
    }
}

.button-secondary {
    @include button($grey-3);
}

.button-link {
    @extend .button;
    @include button($white);
    text-decoration:underline;
    color: $govuk-blue;
    @include box-shadow(0 2px 0 $white);
    @include ie-lte(8) {
        border-bottom: 2px solid $white;
    }
    &:link {
        color: $link-colour;
    }
    &:visited {
        color: $link-visited-colour;
    }
    &:hover, 
    &:focus {
        background: $white;
        color: $link-hover-colour;
    }
}

.link-button {
    padding: 0;
    color: $link-colour;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: inherit;
    cursor: pointer;
    &:hover, 
    &:focus {
        background: $white;
        color: $link-hover-colour;
    }
}

.form-group {
    form {
        display: inline-block;
    }

}