.header-global {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: 15px;
}

.header-global__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    @include media(tablet) {
        font-size: 32px;
    }
    a {
        border-bottom: 1px solid #000;
        color: #fff;
        display: inline-block;
        padding: 2px 0;
        text-decoration: none;
    }
}

.phase-banner-alpha {
	.phase-tag {
		background: $beta-colour
	}
}

#global-header-bar {
    background: $grey-1;
}

.service-info {
    margin-bottom: 10px;
}

.user-menu.logged-in {
    border-bottom: 1px solid $grey-2;
}

.user-menu {
    @include media(tablet) {
        text-align: right;
    }
    li {
        font-size: 14px;
        display: inline-block;  
        margin-bottom: 10px;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
        @include media(tablet) {
            font-size: 16px;
            line-height: 1.25;
        }
    }
}

.link-user-profile {
    font-weight: 700;
}

.breadcrumbs {
    li {
        background-image:  url('/dist/images/separator.png');
    }
}

.back-link {
    padding-left: 15px;
    position: relative;
    &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
}

.govuk-box-highlight {
    padding-left: 10px;
    padding-right: 10px;
    a {
        color: $white;
        &:link,
        &:visited,
        &:hover,
        &:active {
            color: $white;
        }
    }
}

.header-organisation {
    border-bottom: 1px solid $grey-1;
    font-size: 14px;
    ul {
        @extend %contain-floats;
        margin: 0 -15px;
        li {
            list-style:none;
            @include media(tablet) {
                float: left;
              
                font-size: 16px;
            }
            @include media(desktop) {
                width: auto;
            }
            @include media(1000px) {
                font-size: 19px;
            }
            a {
                padding: 12px 15px 10px;
                display: block;
                position: relative;
                &.selected {
                    text-decoration: none;
                    font-weight: 700;
                    color: $black;
                    &:after {
                        background: $govuk-blue;
                        bottom: -1px;
                        content: "";
                        display: block;
                        left: 0;
                        top: 0;
                        width: 5px;
                        position: absolute;
                        z-index: 0;
                        @include media(desktop) {
                            left: 15px;
                            right: 15px;
                            height: 5px;
                            top: auto;
                            width: auto;
                        }
                    }
                }
                &:focus {
                    outline:0;
                }
            }
        }
    }
}