table {
    margin-bottom: 20px;
}

td.link-right {
    text-align: right;
    padding-right: 0;
}

table th, table td {
    vertical-align: top;
    @include media(tablet) {

    }
}

tr.total {
    th {
        border: none;
    }
    td {
        border-bottom: 2px solid $black;
        font-weight: 700;
    }
}

.no-wrap {
    white-space: nowrap;
}

.description {
    font-size: 90%;
    display:inline-block;
    line-height: 1.3;
}