@{
    ViewBag.Title = "Home Page";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            @ViewBag.Title
        </h1>
        <p>Contact the <strong>Manage apprenticeships</strong> service helpdesk on:</p>
        <ul class="list list-bullet">
            <li>08000 150 600</li>
            <li><a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
        </ul>
    </div>
</div>
