@using SFA.DAS.ProviderApprenticeshipsService.Web.Models

@model TaskViewModel
 
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">View task</h1>
        <hr />
        <div class="form-group">
            <label class="form-label" for="Name">Name</label>
            <label class="form-label" id="Name">@Model.Task.Name</label>
        </div>
        <div class="form-group">
            <label class="form-label" for="CreatedDate">Created Date</label>
            <label class="form-label" id="CreatedDate">@Model.Task.CreatedOn</label>
        </div>
    </div>
</div>
