<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AzureTableStorageNLogTarget" version="1.0.9" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="FAKEBuildScript" version="1.2.7" targetFramework="net45" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="Hashids.net" version="1.2.2" targetFramework="net45" />
  <package id="MediatR" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights" version="2.6.4" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.6.4" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.15.0-build58334" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.NLogTarget" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.6.4" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.TraceListener" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.6.4" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.6.4" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.6.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net462" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.0.1" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="5.5.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.1" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.5.0" targetFramework="net462" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.1" targetFramework="net462" />
  <package id="Microsoft.NETCore.Targets" version="1.1.3" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="4.5.3" targetFramework="net462" />
  <package id="NLog.Schema" version="4.3.11" targetFramework="net45" />
  <package id="NServiceBus" version="7.0.1" targetFramework="net462" />
  <package id="NServiceBus.Azure.Transports.WindowsAzureServiceBus" version="8.0.0" targetFramework="net462" />
  <package id="NServiceBus.Heartbeat" version="3.0.0" targetFramework="net462" />
  <package id="NServiceBus.Metrics" version="3.0.0" targetFramework="net462" />
  <package id="NServiceBus.Metrics.ServiceControl" version="3.0.1" targetFramework="net462" />
  <package id="NServiceBus.MSDependencyInjection" version="0.1.4" targetFramework="net462" />
  <package id="NServiceBus.Newtonsoft.Json" version="2.1.0" targetFramework="net462" />
  <package id="NServiceBus.NLog" version="3.0.0" targetFramework="net462" />
  <package id="NServiceBus.StructureMap" version="7.0.0" targetFramework="net462" />
  <package id="NuGet.CommandLine" version="3.3.0" targetFramework="net45" />
  <package id="NUnit.Console" version="3.8.0" targetFramework="net462" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net462" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net462" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net462" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="Polly" version="5.7.0" targetFramework="net45" />
  <package id="SFA.DAS.Account.Api.Client" version="1.6.3100" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Types" version="1.6.3100" targetFramework="net462" />
  <package id="SFA.DAS.ApiTokens.Client" version="1.3.0.12902" targetFramework="net45" />
  <package id="SFA.DAS.Authentication.Extensions" version="1.0.15" targetFramework="net462" />
  <package id="SFA.DAS.CommitmentsV2.Types" version="4.1.1303" targetFramework="net462" />
  <package id="SFA.DAS.Common.Domain" version="1.4.283" targetFramework="net462" />
  <package id="SFA.DAS.Configuration" version="1.0.0.43116" targetFramework="net45" />
  <package id="SFA.DAS.Configuration.AzureTableStorage" version="1.1.161" targetFramework="net462" />
  <package id="SFA.DAS.Configuration.FileStorage" version="1.0.0.43116" targetFramework="net45" />
  <package id="SFA.DAS.Encoding" version="1.1.61" targetFramework="net462" />
  <package id="SFA.DAS.Events.Api.Client" version="2.0.0.35796" targetFramework="net462" />
  <package id="SFA.DAS.Events.Api.Types" version="2.1.31" targetFramework="net462" />
  <package id="SFA.DAS.HashingService" version="1.0.179" targetFramework="net462" />
  <package id="SFA.DAS.Http" version="3.2.28" targetFramework="net462" />
  <package id="SFA.DAS.Learners" version="1.0.0.39408" targetFramework="net45" />
  <package id="SFA.DAS.Messaging" version="3.0.0.53230" targetFramework="net45" />
  <package id="SFA.DAS.Messaging.AzureServiceBus" version="3.0.0.53230" targetFramework="net45" />
  <package id="SFA.DAS.Messaging.AzureServiceBus.StructureMap" version="3.0.0.53230" targetFramework="net45" />
  <package id="SFA.DAS.NLog.Logger" version="1.2.1" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Targets.Redis" version="1.0.0.17615" targetFramework="net462" />
  <package id="SFA.DAS.NServiceBus" version="15.0.8" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net462" />
  <package id="StructureMap" version="4.7.0" targetFramework="net462" />
  <package id="StructureMap.MVC5" version="3.0.4.125" targetFramework="net45" />
  <package id="structuremap.web" version="4.0.0.315" targetFramework="net45" />
  <package id="StructureMap.WebApi2" version="3.0.4.125" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net45" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net462" />
  <package id="WebActivatorEx" version="2.0.5" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="4.1.0" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="8.7.0" targetFramework="net462" />
</packages>