<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.2.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.NLogTarget" version="2.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.WebJobs" version="1.1.2" targetFramework="net452" />
  <package id="Microsoft.Azure.WebJobs.Core" version="1.1.2" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net452" />
  <package id="Microsoft.Web.WebJobs.Publish" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.4.6" targetFramework="net452" />
  <package id="Polly" version="5.1.0" targetFramework="net452" />
  <package id="SFA.DAS.Configuration" version="1.0.0.38117" targetFramework="net452" />
  <package id="SFA.DAS.Configuration.AzureTableStorage" version="1.0.0.38117" targetFramework="net452" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.39208" targetFramework="net452" />
  <package id="SFA.DAS.NLog.Targets.Redis" version="1.0.0.34273" targetFramework="net452" />
  <package id="SFA.DAS.Sql.Client" version="1.0.0.32930" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net452" />
  <package id="StructureMap" version="4.4.5" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.0" targetFramework="net452" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net452" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="6.2.0" targetFramework="net452" />
</packages>