<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" xdt:Transform="Insert" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" 
        autoReload="true"
        throwExceptions="true" xdt:Transform="RemoveAttributes(internalLogLevel,internalLogFile)">
    <targets>
      <target xsi:type="Redis" name="RedisLog" 
              appName="${appName}" 
              environmentKey="EnvironmentName"
              connectionStringKey="LoggingRedisConnectionString"
              includeAllProperties="true"
              keySettingsKey="LoggingRedisKey" 
              layout="${message}"
              xdt:Transform="Insert" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="RedisLog" xdt:Transform="Replace" xdt:Locator="Condition(@name='*')" />
    </rules>
  </nlog>
</configuration>
