<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="LoggingRedisConnectionString" xdt:Transform="SetAttributes" value="__LoggingRedisConnectionString__" xdt:Locator="Match(key)"/>
    <add key="LoggingRedisKey" xdt:Transform="SetAttributes" value="__LoggingRedisKey__" xdt:Locator="Match(key)"/>
    <add key="ConfigurationStorageConnectionString" xdt:Transform="SetAttributes" value="__ConfigurationStorageConnectionString__" xdt:Locator="Match(key)"/>
    <add key="EnvironmentName" xdt:Transform="SetAttributes" value="__EnvironmentName__" xdt:Locator="Match(key)"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="true" xdt:Transform="RemoveAttributes(internalLogLevel,internalLogFile)">
    <rules>
      <logger minlevel="Info" writeTo="RedisLog" xdt:Transform="SetAttributes" />
      <logger name="*" minlevel="Trace" writeTo="aiTarget" xdt:Transform="Insert"/>
    </rules>
  </nlog>
</configuration>