<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.0.5" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="4.3.7" targetFramework="net45" />
  <package id="SFA.DAS.Apprenticeships.Api.Types" version="0.11.129" targetFramework="net462" />
  <package id="SFA.DAS.AssessmentOrgs.Api.Client" version="0.11.75" targetFramework="net462" />
  <package id="SFA.DAS.Common.Domain" version="1.4.272" targetFramework="net462" />
  <package id="SFA.DAS.Events.Api.Client" version="2.0.0.35796" targetFramework="net462" />
  <package id="SFA.DAS.Events.Api.Types" version="2.1.31" targetFramework="net462" />
  <package id="SFA.DAS.Http" version="1.2.4" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.43242" targetFramework="net45" />
  <package id="SFA.DAS.Provider.Events.Api.Client" version="2.1.97" targetFramework="net462" />
</packages>