<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.0.5" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net462" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="4.3.7" targetFramework="net45" />
  <package id="SFA.DAS.Apprenticeships.Api.Types" version="0.11.129" targetFramework="net462" />
  <package id="SFA.DAS.AssessmentOrgs.Api.Client" version="0.11.75" targetFramework="net462" />
  <package id="SFA.DAS.Common.Domain" version="1.4.272" targetFramework="net462" />
  <package id="SFA.DAS.Events.Api.Client" version="2.0.0.35796" targetFramework="net462" />
  <package id="SFA.DAS.Events.Api.Types" version="2.1.31" targetFramework="net462" />
  <package id="SFA.DAS.Http" version="3.2.28" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.43242" targetFramework="net45" />
  <package id="SFA.DAS.Provider.Events.Api.Client" version="2.1.95" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.6.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net462" />
</packages>