<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="Hashids.net" version="1.2.2" targetFramework="net45" />
  <package id="MediatR" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.0.5" targetFramework="net462" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="4.5.3" targetFramework="net462" />
  <package id="NServiceBus" version="7.0.1" targetFramework="net462" />
  <package id="NServiceBus.Azure.Transports.WindowsAzureServiceBus" version="8.0.0" targetFramework="net462" />
  <package id="NServiceBus.Heartbeat" version="3.0.0" targetFramework="net462" />
  <package id="NServiceBus.Metrics" version="3.0.0" targetFramework="net462" />
  <package id="NServiceBus.Metrics.ServiceControl" version="3.0.1" targetFramework="net462" />
  <package id="NServiceBus.MSDependencyInjection" version="0.1.4" targetFramework="net462" />
  <package id="NServiceBus.Newtonsoft.Json" version="2.1.0" targetFramework="net462" />
  <package id="NServiceBus.NLog" version="3.0.0" targetFramework="net462" />
  <package id="NServiceBus.Persistence.Sql" version="4.1.1" targetFramework="net462" />
  <package id="NServiceBus.StructureMap" version="7.0.0" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Client" version="1.6.1586" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Types" version="1.6.1586" targetFramework="net462" />
  <package id="SFA.DAS.Common.Domain" version="1.4.272" targetFramework="net462" />
  <package id="SFA.DAS.Encoding" version="1.1.61" targetFramework="net462" />
  <package id="SFA.DAS.Events.Api.Types" version="2.1.31" targetFramework="net462" />
  <package id="SFA.DAS.HashingService" version="1.0.179" targetFramework="net462" />
  <package id="SFA.DAS.Http" version="1.2.4" targetFramework="net462" />
  <package id="SFA.DAS.Learners" version="1.0.0.39408" targetFramework="net45" />
  <package id="SFA.DAS.Messaging" version="3.0.0.53230" targetFramework="net45" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.43242" targetFramework="net462" />
  <package id="SFA.DAS.Notifications.Messages" version="3.0.0" targetFramework="net462" />
  <package id="SFA.DAS.NServiceBus" version="15.0.8" targetFramework="net462" />
  <package id="StructureMap" version="4.7.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net462" />
  <package id="WindowsAzure.ServiceBus" version="4.1.0" targetFramework="net462" />
</packages>