@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.CommitmentViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Commitment - @Model.Commitment.Name</h1>
        <hr />
    </div>
</div>
