@model SFA.DAS.ProviderApprenticeshipsService.Web.Models.ApprenticeshipViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Apprenticeship - @Model.Apprenticeship.ApprenticeName</h1>
        <hr />
    </div>
</div>
