@model SFA.DAS.ProviderCommitments.Web.Models.TestModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<table>
    <thead>
    <tr>
        <td>
            Element
        </td>
        <td>
            Count
        </td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Draft</td>
            <td>@Model.Draft</td>
        </tr>
        <tr>
            <td>Approved</td>
            <td>@Model.Approved</td>
        </tr>
    </tbody>
</table>

